.youtubePlayerContainer {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 600px;
  }
  
  .youtubeInput {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 9999px;
    background-color: var(--text-color);
    color: var(--primary-color);
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }
  
  .youtubeInput:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.5);
  }
  
  .youtubeInput::placeholder {
    color: rgba(239, 68, 68, 0.5);
  }
  
  .youtubeEmbedContainer {
    margin-top: 1rem;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  }
  
  .youtubeEmbedContainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
 
  input[type=file]::file-selector-button {
  
border-radius: 20px;
border: 1px solid black;
color: black;
background-color: white
  
  }
  

  /* Responsive adjustments */
  @media (max-width: 640px) {
    .youtubePlayerContainer {
      max-width: 100%;
    }
  }
